<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost/homebudget</property>
		<property name="connection.user">homebudget</property>
		<property name="connection.password">homebudget</property>
		<property name="connection.pool_size">10</property>
		<property name="show_sql">true</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hbm2ddl.auto">create</property>


		<mapping class="org.homebudget.model.Account" />
		<mapping class="org.homebudget.model.UserDetails" />
		<mapping class="org.homebudget.model.Category" />
		<mapping class="org.homebudget.model.UserRole" />
	</session-factory>
</hibernate-configuration>